
<div id="container">
    <div id="intro" >
        <h2>Suckers! Page</h2>
        <p><u><a href='/suckers'>Return to listing</a></u><p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Twitter</th>
            </tr>
            <tr>
                <% session["users"].each do |value| %>
                <td><%= value[:username] %></td>
                <td><%= value[:email] %></td>
                <td><%= value[:twitter] %></td>
            </tr>
            <% end %>
          </tr>
        </table>
    </div>
</div>