
<div id="container">
    <div id="logo">
        </br>
        </br>
        <img src="http://ids.surfnet.nl/images/IDS_logo_klein.png"/>
    </div>
    <div id="intro" >
        <h2>Coming soon!</h2>
        <p>This is going to be the most amazing thing you've ever seen. Really.</p>
            <br>
        <p>Give us your deets and we'll let you in on the ground floor.
        </p>
    </div>
</div>
<br>


<form action="/thanks">
    <br>
      <fieldset id="form">
        <input type="text" name="username" placeholder="What everyone calls you"/>
        <div id="forsubmit" class="left-col">
            <div id="inputs">
                <input type="text" name="email" placeholder="Your@email"/>
                <input type="text" name="twitter" placeholder="@Twitter"/>
            </div>
            <div id="submit" class="right-col">
                <input id="btn" type="submit" value="Press the button!" />
            </div>
        </div>
      </fieldset>
</form>
