<p>
<form action="/thanks">
  <fieldset>
    <input type="text" name="username"><br>
    <input type="text" name="email"><br>
    <input type="text" name="twitter">
    <input type="submit" value="Press the button!"
  </fieldset>
</form>
</p>