
<!doctype = html>
<html lang="en">
<% title="Born Every Minute" %>
<title><%= title %></title>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="css/styles.css"/>
    <div id="header">
        <h1>Born Every Minute</h2>
    </div>

</head>

<body>
<div id="container clearfix">
  <section>
    <%= yield %>
  </section>
  <div id="copyright">
    <p>Copyright &copy;  2013 the Long Con LLC</p>
  </div>
</div>
</body>
</html>