
<div id="container">
    <div id="intro" >
        <h2>Suckers! Page</h2>
        <p>Click anywhere on a row to see details.</p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Twitter</th>
            </tr>
            <% session["users"].each do |value| %>
                <tr>
                    <td onclick="location.href='/details'"><%= value[:username] %></td>
                    <td td onclick="location.href='/details'"><%= value[:email] %></td>
                    <td td onclick="location.href='/details'"><%= value[:twitter] %></td>
                </tr>
            <% end %>

          
        </table>
    </div>
</div>


